body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
    background-image: repeating-linear-gradient(186deg, rgba(97,97,97,0.1) 0px, rgba(97,97,97,0.1) 2px,transparent 2px, transparent 4px),linear-gradient(231deg, rgb(71,89,100),rgb(71,89,100));
}
nav{
    display: flex;
    justify-content:start;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 1%;
    color: white;
}
nav img{
    margin: 0;
    padding: 0;
    margin-top: 2%;
    margin-left: 8%;
}
nav ul{
    list-style: none;
    width: 100%;
    padding: 0;
    margin-left: 40%;
    margin-top: 0%;
    display: flex;
    justify-content: space-around;
}
ul li{
    margin-top: 8%;
}
#home{
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:6px;
    background: linear-gradient(180deg, #3A444B 0%, rgba(65,76,84,1) 51%, rgba(68,80,88,1) 100%);
    border-top: solid 1px #272E33;
    border-bottom: solid 1px #66737C;
    border-radius: 35px;
    width: 10%;
    text-align: center;
}
ul li:hover{
    cursor: pointer;
}
.firstContentHeader{
    display: flex;
    width: 100%;
}
.firstContentHeader img.iphone{
    width: 70%;
    margin-left: 8%;
}
.firstContentHeader .contentRightHeader{
    margin-right: 5%;
    margin-left: 8%;
    margin-top: 3%;
}

#pWhite{
    width: 88%;
    font-size: 24px;
    color: #DCDCDC;
}
#pGray{
    color: #6F767B;
    font-size: 24px;
    width: 88%;
}
#or{
    color: white;
    font-size: 24px;
}
.contentRightHeader h1{
    color: white;
    font-size: 64px;
}
.contentButtonsHeader{
    display: flex;
    width: 88%;
    justify-content: space-evenly;
}
.contentButtonsHeader button{
    width: 24%;
    height: 60px;
    border-radius: 50px;
    background: #429CD4;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    box-shadow: 0px 4px 4px 4px #364149;
}
.lineaImg{
    display: flex;
    padding: 0;
    margin: 0;
    height: 30%;
    border-bottom: 1px solid white;
}
.contentButtonsHeader p.pUnderline{
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 24px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.imagesNav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: #ECECEC;
    border-bottom: solid 2px #C3C3C3;
    margin-bottom: 5%;
}
.imagesNav a{
    width: 4%;
    padding: 1%;
}
.contentThreeSections{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 5%;
}
.contentThreeSections .subSection1,.subSection2,.subSection3{
    text-align: center;
    width: 24%;
}
.subSection1 h2, .subSection2 h2, .subSection3 h2{
    color: #4B5A65;
}
.subSection1 p, .subSection2 p, .subSection3 p{
    color: #A4A4A4;
}
.subSection1 button, .subSection2 button, .subSection3 button{
    background: #4B90CB;
    border-top: solid 2px #ABD0E9;
    border-left: solid 2px #ABD0E9;
    border-right: solid 2px #3B74A2;
    border-bottom: solid 2px #3B74A2;
    color: white;
    padding: 3%;
    border-radius: 4px;
    cursor: pointer;
}
.searchSection{
    width: 100%;
}
.search{
    width: 100%;
    display: flex;
    margin-bottom: 2%;
}
.search img{
    margin: 0;
    padding: 0;
    width: 2%;
    height: 2%;
    margin-left: 4%;
}
.search h2{
    margin: 0;
    padding: 0;
    margin-left: 2%;
}
.imageSearch{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}
.imageSearch img{
    width: 19%;
    border: solid 4px white;
    box-shadow: 0px 0px 2px 2px #B2B2B2;
}
.finalContent{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.everyLeft{
    width: 44%;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    flex-direction: column;
}
.contentFinalLeft{
    display: flex;
    margin-bottom: 2%;
    width: 100%;
}
.contentFinalLeft img{
    width: 20%;
    height: 100%;
    margin-right: 4%;
    margin-left: 0;
    margin-bottom: 0;
    border: solid 4px white;
    box-shadow: 0px 0px 2px 2px #B2B2B2;
}
.textFinal{
    width: 100%;
}
.textFinal p{
    margin: 0;
    width: 100%;
    font-size: 22px;  
    margin-top: 4%;
}
.textFinal h2{
    margin: 0;
}
.imageNav{
    display: flex;
}
#shape3{
    width: 34px;
    height: 38px;
    margin-right: 2%;
}
#h2Nav{
    font-size: 22px;
}

.contentFinalRight{
    width: 44%;
    margin-left: 0;
}
.contentFinalRight p{
    width: 100%;
    font-size: 22px;
    margin: 0;
    margin-top: 4%;
}
.imageNav2{
    display: flex;
}
#shape{
    width: 39px;
    height: 38px;
    margin-right: 2%;
}
#h2Nav2{
    font-size: 22px;
}
#pFinal{
    font-size: 16px;
    margin-top: 2%;
}
.lienaFooter{
    display: flex;
    margin-left: 3%;
    background: #B2B2B2;
    height: 2px;
    width: 94%;
    margin-bottom: 2%;
    margin-top: 2%;
}
span{
    color:#3D93D1
}
span a {
    text-decoration: none;
    color:#3D93D1
}
footer{
    width: 97%;
    display: flex;
    justify-content: space-between;
}
footer p{
    margin-left: 3%;
}


@media screen and (max-width: 1200px){
    nav ul{
        margin-left: 25%;
    }
    .firstContentHeader img.iphone{
        width: 33%;
        margin-right: 0;
        margin-left: 8%;
    }
    .contentRightHeader h1{
        font-size: 45px;
    }
    .contentRightHeader p{
        font-size: 20px;
    }
    .contentButtonsHeader button{
        width: 28%;
        height: 55px;
        font-size: 14px;
    }
    .contentButtonsHeader p.pUnderline{
        font-size: 14px;
    }
    .contentFinalLeft{
        margin-bottom: 4%;
    }
    .contentFinalLeft h2{
        font-size: 22px;
    }
    .contentFinalLeft img{
        height: 60%;
        width: 26%;
    }
    .textFinal p{
        font-size: 14px;  
    }
    .contentFinalRight p{
        font-size: 14px;
    }
}

@media screen and (max-width: 992px){
    nav ul{
        margin-left: 25%;
    }
    .firstContentHeader img.iphone{
        width: 33%;
        margin-right: 0;
        margin-left: 8%;
    }
    #pWhite,#pGray{
        font-size: 18px;
    }
    .contentRightHeader p{
        font-size: 20px;
    }
    .contentButtonsHeader button{
        width: 33%;
        height: 55px;
        font-size: 14px;
        margin-bottom: 4%;
    }
    #or{
        font-size: 18px;
    }
    .contentButtonsHeader p.pUnderline{
        font-size: 14px;
    }
    .search img{
        margin-left: 2%;
    }
    .contentFinalLeft{
        margin-bottom: 4%;
    }
    .contentFinalLeft h2{
        font-size: 22px;
    }
    .contentFinalLeft img{
        height: 60%;
        width: 26%;
    }
    .textFinal p{
        font-size: 14px;  
    }
    .contentFinalRight p{
        font-size: 14px;
    }
}
@media screen and (max-width: 770px){
    nav ul{
        margin-left: 6%;
    }
    .contentRightHeader h1{
        font-size: 35px;
    }
    .contentRightHeader p{
        font-size: 16px;
    }
    #pWhite,#pGray{
        font-size: 14px;
    }
    .contentButtonsHeader button{
        width: 40%;
        height: 50px;
        font-size: 14px;
    }
    .contentButtonsHeader p.pUnderline{
        font-size: 14px;
    }
    .subSection1 h2, .subSection2 h2, .subSection3 h2{
        font-size: 18px;
    }
    h2#h2Nav2{
        margin: 0;
    }
    h2#h2Nav{
        margin: 0;
    }
    #shape3{
        width: 24px;
        height: 28px;
    }
    #shape{
        width: 29px;
        height: 28px;
    }
    .contentFinalLeft img{
        width: 22%;
    }
    .contentFinalLeft{
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .textFinal h2{
        font-size: 18px;
    }
    .textFinal p{
        font-size: 12px;  
    }
    .contentFinalRight p{
        font-size: 12px;
    }
}
@media screen and (max-width: 480px){
    nav{
        width: 100%;
        display: block;
    }
    nav ul{
        margin: 0;
        width: 100%;
    }
    nav ul li,li#home{
        margin-top: 4%;
        margin-bottom: 4%;
        text-align: center;
        width: 20%;
    }
    nav img{
        width: 30%;
        margin: 0;
        margin-top: 2%;
        margin-left: 2%;
    }
    .firstContentHeader .contentRightHeader{
        margin-left: 1%;
        margin-right: 0;
    }
    .firstContentHeader img.iphone{
        width: 44%;
        margin: 0;
    }
    .contentRightHeader h1{
        font-size: 22px;
    }
    .contentRightHeader p{
        font-size: 14px;
    }
    #pWhite,#pGray{
        font-size: 12px;
        width: 100%;
        margin: 0;
        margin-bottom: 2%;
    }
    p#or{
        margin-top: 0;
        margin-left: 42%;
        margin-bottom: 4%;
        font-size: 12px;
    }
    .imagesNav{
        display: block;
        width: 100%;
    }
    .imagesNav a{
        padding-left: 6%;
        width: 100%;
        height: 100%;
    }
    .contentThreeSections{
        width: 100%;
        display: block;
        justify-content: center;
    }
    .contentThreeSections .subSection1,.subSection2,.subSection3{
        display: block;
        margin-left: 3%;
        text-align: center;
        width: 94%;
        margin-bottom: 4%;
    }
    .contentButtonsHeader{
        display: block;
        width: 100%;
        margin: 0;
    }
    .contentButtonsHeader button{
        width: 50%;
        height: 40px;
        padding: 0;
        margin-bottom: 4%;
        font-size: 12px;
        margin-left: 20%;
    }
    .lineaImg{
        width: 84%;
        margin-right: 0;
        margin-left: 8%;
        justify-content: center;
        margin-bottom: 4%;
    }
    .contentButtonsHeader p.pUnderline{
        margin-top: 0;
        width: 89%;
        font-size: 14px;
    }
    .subSection1 h2, .subSection2 h2, .subSection3 h2{
        font-size: 18px;
    }
    .search img{
        margin: 0;
        padding: 0;
        width: 29px;
        height: 28px;
        margin-left: 2%;
    }
    .searchSection{
        width: 100%;
        display: block;
    }
    .imageSearch img{
        width: 22%;
    }
    .finalContent{
        width: 100%;
        display: block;
        justify-content: center;
    }

    .everyLeft{
        width: 100%;
        display: block;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
        flex-direction: column;
    }
    .contentFinalLeft{
        width: 94%;
        margin-left: 3%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .contentFinalRight{
        width: 94%;
        margin-left: 3%;
    }
    #shape3{
        margin-left: 3%;
    }
    .textFinal h2{
        font-size: 20px;
    }
    .textFinal p{
        font-size: 14px;  
    }
    .contentFinalRight p{
        font-size: 14px;
    }
}